html{
	font-size: 20px;
}
/* -------------------------游戏界面--------------------- */
/* -----------topBar------------- */
.message{
	position: relative;
	margin: 1rem auto 0;
	width: 25rem;
	background: #F73859;
	border-top-left-radius: 1.6%;
	border-top-right-radius: 1.6%;
}
.score,.timer,.stop{
	display: inline-block;
	width: 8rem;
	text-align: center;
	color: #283739;
	font: 1.6rem/5rem "Tahoma";
}
.stop button{
	width: 2.5rem;
	height: 2.5rem;
	font-family: "微软雅黑";
	background: #283739;
	border: none;
	border-radius: 50%;
}
.stop button span{
	display: inline-block;
	width: 0.25rem;
	height: 0.75rem;
	background: #fff;
}
/* -----------gameBar------------- */
.colorGame{
	margin: 0 auto;
	width: 25rem;
	height: 25rem;
	background: #283739;
	border-bottom-left-radius: 1.6%;
	border-bottom-right-radius: 1.6%;
}
/* -------------------------开始界面--------------------- */
.game{
	position: absolute;
	top: 1rem
	left: 50%;
	margin-left: -12.5rem;
	width: 25rem;
	height: 30rem;
	background: #F73859;
	border-radius: 1.6%;
}
.game h1{
	display: block;
	margin: 8rem auto;
	width: 11.5rem;
	color: #e8e8e8;
	font: 2.3rem/2.3rem "微软雅黑";
}
.game p{
	display: block;
	margin: -2rem auto 0;
	width: 8rem;
	height: 2.5rem;
	text-align: center;
	font: 1.2rem/2.5rem "微软雅黑";
	color: #e8e8e8;
	border-radius: 0.5rem;
	background: #283739;
}
.game i{
	display: block;
	position: relative;
	top: -3.5rem;
	left: 15rem;
	width: 0rem;
	height: 0rem;
	border-top: 0.6rem solid #fff; 
	border-right: 0.6rem solid transparent; 
	border-bottom: 0.6rem solid transparent; 
	border-left: 0.6rem solid transparent; 
}
.game span{
	display: block;
	margin: 2.5rem auto 0;
	width: auto;
	text-align: center;
	font: 1.4rem/2rem "Helvetica";
	color: #F73859;
	font-weight: bold;
	background: #e8e8e8;
}
.game span:hover{
	color: #e8e8e8;
	background: #F73859;
}
/* -------------------------统计界面--------------------- */
.gameOver{
	position: absolute;
	top: 1rem;
	left: 50%;
	margin-left: -12.5rem;
	width: 25rem;
	height: 30rem;
	background: #F73859;
	border-radius: 1.6%;
}
.gameOver p{
	margin-left: 20%;
	margin-top: 5rem
	color: #e8e8e8;
	font-size: 1.6rem;
	font-family: "微软雅黑";
}
.gameOver .heavy{
	font-size: 3.2rem;
}
.gameOver h6{
	position: relative;
	top: 5rem;
	left: 55%;
	color: #283739;
}
